* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 70%;
    height: 700px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: #161b22;
    line-height: 80PX;
}

header h1 {
    color: #bc8f8f;
    transition: 1s;
}

header:hover h1 {
    color: skyblue;
}

.main {
    width: 100%;
    height: 1700px;
    background-color: #0d1117;
    background-image: linear-gradient(#0d1117, #082e54, #0b1746);
}

.month {
    position: absolute;
    top: 12%;
    left: 28%;
    color: #fff;
}

.month h1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 250px;
    font-size: 20px;
}

.month h2 {
    display: inline-block;
    font-size: 20px;
}

.day {
    position: absolute;
    left: -100px;
    top: 0;
    width: 100px;
    height: 450px;
    color: #fff;
}

.day li {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}

.calendar {
    position: relative;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    float: left;
    width: 610px;
    height: 450px;
    border: 1px solid skyblue;
    border-radius: 10px;
}

.calendar ul {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.calendar ul:first-child {
    margin-left: 10px;
}

.calendar ul:last-child {
    margin-right: 0;
}

.calendar .time li {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    opacity: 60%;
    transition: 0.5s;
}

.calendar .time li:hover {
    opacity: 100%;
}

#t0 {
    background-color: #fff;
}

#t0-1 {
    background-color: #fffaf0;
}

#t1-2 {
    background-color: #faf0e6;
}

#t2-3 {
    background-color: #ffefd5;
}

#t3-4 {
    background-color: #ffdab9;
}

#t4-5 {
    background-color: #dcdcdc;
}

#t5-6 {
    background-color: #79cdcd;
}

#t6-7 {
    background-color: #668b8b;
}

#t7-8 {
    background-color: #bc8f8f;
}

#t8-9 {
    background-color: #b8860b;
}

#t9-10 {
    background-color: #cd5c5c;
}

#t10-11 {
    background-color: #b22222;
}

#t11-12 {
    background-color: #8b0000;
}

#t12 {
    background-color: #00008b;
}

hr {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(100, 200, 200, 0.4);
}

.explain {
    margin: 0 auto;
    width: 70%;
    height: 300px;
    color: #dcdcdc;
}

.explain h1 {
    color: #f5f5f5;
}

.explain .color ul {
    float: left;
}

.explain .color li {
    width: 30px;
    height: 30px;
    margin-top: 16px;
    margin-left: 50px;
}

.explain .color li:first-child {
    margin-top: 30px;
}

.explain .words {
    width: 500px;
    height: 700px;
    margin-left: 100px;
    margin-top: 30px;
}

.explain .words li {
    margin-bottom: 20px;
    font-size: 20px;
}

.cost {
    margin-top: 20px;
    width: 500px;
    height: 150px;
}

.cost span {
    font-size: 2em;
    color: #f5f5f5;
}

.cost .box {
    position: relative;
    margin-top: -70px;
    margin-left: 200px;
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s;
    font-size: 30px;
    font-style: italic;
}

.cost .box:hover {
    transform: rotateX(-90deg);
}

.cost .box .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    border: 1px solid skyblue;
    border-radius: 10px;
    transform: rotateX(90deg) translateZ(50px);
    text-align: center;
    line-height: 100px;
}

.cost .box .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    border: 1px solid skyblue;
    border-radius: 10px;
    transform: translateZ(50px);
    text-align: center;
    line-height: 100px;
}